.cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerCard {
    margin: 1rem;
    border-radius: 1rem;
    border-color: black;
    border: 1px solid #000;
}


.dj-equipos {
    width: 12rem;
}

.text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-card button {
    margin-bottom: 1rem;
    border-radius: 0, 5rem;
}